body {
    background: rgb(37, 37, 37);
    overflow-x: hidden;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

@keyframes rotation {
    from {
        transform: rotate3d(0, 0, 0, 180deg);
    }

    to {
        transform: rotate3d(0, 1, 0, 360deg);
    }
}

.background {
    background-color: rgb(48, 48, 48);
}

.titolo {
    margin-top: 100px;
    color: white;
    text-align: center;
}

.nome {
    margin-top: 30px;
    color: white;
    text-align: center;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    padding: 30px;
    border-radius: 20px;
    word-spacing: 1px;
    margin: 50px;
    margin-top: 30px;
    transition: box-shadow .4s, transform .4s;
}

.text:hover {
    transition: box-shadow .4s, transform .4s;
    box-shadow: 0px 0px 18px 5px #acaaaa67;
}

.immagine {
    width: 400px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.circle {
    border-radius: 50%;
}

#titoli {
    font-size: 20px;
}

.header {
    color: white;
    text-align: center;
}

.textcard {
    color: white;
}

.buttoncard {
    display: flex;
    justify-content: center;
}

.positioncard {
    margin: 0 20px;
}

.centercard {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.bottomtext {
    width: max-content;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 200px;
    background: rgb(48, 48, 48);
}

.card {
    transition: box-shadow .25s, transform .25s;
    border-radius: 10px;
}

.card:hover {
    transition: box-shadow .25s, transform .25s;
    box-shadow: 0px 0px 18px 5px #acaaaa8c;
    transform: translateY(-20px);
}

.card:hover img {
    animation: rotation .5s linear;
}

.divprogetti {
    margin-top: 40px;
    padding-top: 35px;
    padding-bottom: 20px;
    border-radius: 30px;
    color: white;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}

.divprogetti img {
    border-radius: 10px;
    border: 2px solid #FFF;
}

.responsiveimm {
    width: 400px;
    height: 240px;
}

.col > .card {
    cursor: pointer;
}

@media screen and (max-width: 450px) {

    .immagine {
        display: none;
    }

    .bottomtext {
        font-size: 15px;
    }

    .text {
        margin-top: 75px;
    }
}

@media screen and (max-width: 1200px) {

    .divprogetti {
        margin-right: 200px;
        margin-left: 200px;
    }
}

@media screen and (max-width: 992px) {

    .divprogetti {
        margin-right: 70px;
        margin-left: 70px;
    }
}

@media screen and (max-width: 576px) {

    .responsiveimm {
        width: 250px;
        height: 120px;
    }
}

@media screen and (max-width: 390px) {

    .divprogetti {
        margin-left: auto;
        margin-right: auto;
    }
}